<div class="page-logo-container">
	<div class="page-rails-logo-container">
		<%= image_tag("rails_logo.png", class: "page-rails-logo") %>
	</div>
	<div class="page-tv-logo-container">
		<%= image_tag("tv_logo.png", class: "page-tv-logo") %>
	</div>
	<h1 id="header-text" class="page-header">
		TradingView Charting Library and Ruby on Rails Integration Example
	</h1>
</div>
<div class="page-tv-chart-container" id="tv_chart_container">
</div>
