.VersionHeader {
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #222;
	color: #fff;
	font-family: Arial, Helvetica, sans-serif;
}

.TVChartContainer {
	height: calc(100vh - 80px);
}
